body {
  background-color: #f5f5f5;
}
/* Barra Navegacion */
.nav-navegador {
  position: fixed;
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav li a {
  font-size: 16px;
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 15px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
nav li a:hover {
	background-color: #111;
  }
  /* contenido */

 .title{ 
  margin-top: 70px;
 } 
 .title-1 {
  display: flex;
  font-size: 20px;
  justify-content: center;
 }
 .definicion {
  font-size: 20px;
  margin: 10px;
 }
 /* pie de pagina s- Redes */
h3{
  color: #fff;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}
.container{
  background-color: rgba(22, 20, 20, 1); /* Fondo semitransparente */
  height: 400px;
  width: 100% ;
  bottom: 0;
  text-align: left;
  padding-left: 40px;

}
.container-1 {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 30px;
  padding-bottom: 40px;
}
i{
  padding-right:20px;
  font-size: 20px;
  transform: translateY(14px);
}
.container-2 {
  color: #a79393;
  margin-left: 65px;
  margin-top: -35px;
}
