body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

.nav-navegador {
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav li a:hover {
  background-color: #111;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  margin-top: 0;
}

form {
  margin: 20px auto;
  height: 500px;
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  }

label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  font-size: 16px;
  color: #333;
}

input[type="button"],
input[type="reset"] {
  background-color: #4caf50;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  margin-right: 16px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

input[type="button"]:hover,
input[type="reset"]:hover
{
  background-color: #3e8e41;
}
.info { 
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #333;
  margin-top: 20px;
}
.info:hover {
  text-decoration:underline;
}

#result {
  display: grid;
  background-color: #fff;
  height:200px ;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  border: #111 solid 2px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  color: #333;
  justify-content: center;
  align-items: center;
}
